<!DOCTYPE html>
<html lang="es">

<head>
    <title>Página de Enlaces v2</title>
    <meta charset="utf-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/estilos.css' %}">
</head>

<body style="padding-top:70px;background-color: antiquewhite;">
    <header>
    </header>
    <nav style="padding-left: 3%;" class="fixed-top navbar navbar-expand-lg navbar-light bg-light navbar-static-top">
        <a class="navbar-brand" href="#"> Noticias
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-apple"
                viewBox="0 0 16 16">
                <path
                    d="M11.182.008C11.148-.03 9.923.023 8.857 1.18c-1.066 1.156-.902 2.482-.878 2.516.024.034 1.52.087 2.475-1.258.955-1.345.762-2.391.728-2.43Zm3.314 11.733c-.048-.096-2.325-1.234-2.113-3.422.212-2.189 1.675-2.789 1.698-2.854.023-.065-.597-.79-1.254-1.157a3.692 3.692 0 0 0-1.563-.434c-.108-.003-.483-.095-1.254.116-.508.139-1.653.589-1.968.607-.316.018-1.256-.522-2.267-.665-.647-.125-1.333.131-1.824.328-.49.196-1.422.754-2.074 2.237-.652 1.482-.311 3.83-.067 4.56.244.729.625 1.924 1.273 2.796.576.984 1.34 1.667 1.659 1.899.319.232 1.219.386 1.843.067.502-.308 1.408-.485 1.766-.472.357.013 1.061.154 1.782.539.571.197 1.111.115 1.652-.105.541-.221 1.324-1.059 2.238-2.758.347-.79.505-1.217.473-1.282Z" />
                <path
                    d="M11.182.008C11.148-.03 9.923.023 8.857 1.18c-1.066 1.156-.902 2.482-.878 2.516.024.034 1.52.087 2.475-1.258.955-1.345.762-2.391.728-2.43Zm3.314 11.733c-.048-.096-2.325-1.234-2.113-3.422.212-2.189 1.675-2.789 1.698-2.854.023-.065-.597-.79-1.254-1.157a3.692 3.692 0 0 0-1.563-.434c-.108-.003-.483-.095-1.254.116-.508.139-1.653.589-1.968.607-.316.018-1.256-.522-2.267-.665-.647-.125-1.333.131-1.824.328-.49.196-1.422.754-2.074 2.237-.652 1.482-.311 3.83-.067 4.56.244.729.625 1.924 1.273 2.796.576.984 1.34 1.667 1.659 1.899.319.232 1.219.386 1.843.067.502-.308 1.408-.485 1.766-.472.357.013 1.061.154 1.782.539.571.197 1.111.115 1.652-.105.541-.221 1.324-1.059 2.238-2.758.347-.79.505-1.217.473-1.282Z" />
            </svg>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="#noticias-destacadas">Noticias Destacadas <span
                            class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#motores-de-busqueda">Sitios de Búsqueda</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#diarios">Diarios</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#finanzas">Finanzas</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="justify-content-center container-sm row fila1">
        <div class="card col-xs-12 col-md-6 col-lg-4" style="width: 18rem;">
            <div class="card-body">
                <h3 class="card-title">Noticias Destacadas del Día</h3>

                <ul>
                    <li>
                        <p>[07-06-2020 15:22] Noticia 1.
                        </p>

                        <!--modal-->
                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                            ver más
                        </button>

                        <!-- Modal -->
                        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
                            aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Titulo del modal</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        CUERPO DEL TEXTO AA 
                                    </div>
                                    <div class="modal-footer">
                                        <p>PATA DEL TEXTO</p>
                                        <button type="button" class="btn btn-secondary"
                                            data-dismiss="modal">Cerrar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--modal-->
                    </li>
                    <li>
                        <p>[06-06-2020 16:03] Noticia 2.
                        <!--modal-->
                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                            ver más
                        </button>

                        <!-- Modal -->
                        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
                            aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Titulo del modal</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        CUERPO DEL TEXTO AA 
                                        
                                    </div>
                                    <div class="modal-footer">
                                        <p>PATA DEL TEXTO</p>
                                        <button type="button" class="btn btn-secondary"
                                            data-dismiss="modal">Cerrar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--modal-->
                        </p>
                    </li>
                    <li>
                        <p>[07-06-2020 15:22] Noticia 1.
                        <!--modal-->
                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                            ver más
                        </button>

                        <!-- Modal -->
                        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
                            aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Titulo del modal</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        CUERPO DEL TEXTO AA 
                                    </div>
                                    <div class="modal-footer">
                                        <p>PATA DEL TEXTO</p>
                                        <button type="button" class="btn btn-secondary"
                                            data-dismiss="modal">Cerrar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--modal-->
                        </p>
                    </li>
                    <li>
                        <p>[06-06-2020 16:03] Noticia 2.
                        <!--modal-->
                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                            ver más
                        </button>

                        <!-- Modal -->
                        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
                            aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Titulo del modal</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        CUERPO DEL TEXTO AA 
                                    </div>
                                    <div class="modal-footer">
                                        <p>PATA DEL TEXTO</p>
                                        <button type="button" class="btn btn-secondary"
                                            data-dismiss="modal">Cerrar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--modal-->
                        </p>
                    </li>
                </ul>
            </div>
        </div>

        <div style="width: 18rem; background-color: aquamarine;" class="card col-xs-12 col-md-6 col-lg-4">
            <div class="card-body">
                <h3>Motores de Búsqueda</h3>
                <ol>
                    <li>
                        <p>Buscar en <a href="https://google.com">
                                Google</a></p>
                    </li>
                    <li>
                        <p>Buscar en <a href="https://duckduckgo.com/">
                                Duck Duck Go</a></p>
                    </li>
                </ol>
            </div>
        </div>
    </div>
    <div class="justify-content-center container-sm row fila2">
        <div class="card col-xs-12 col-md-6 col-lg-4" style="width: 18rem;">
            <div class="card-body">
                <h3>Diarios Nacionales e Internacionales</h3>
                <ul>
                    <li>
                        <p>Revisar noticias en
                            <a href="https://www.washingtonpost.com/">
                                Washington Post</a>
                        </p>
                    </li>
                    <li>
                        <p>Revisar noticias en <a href="https://www.emol.com">
                                Emol</a></p>
                    </li>
                </ul>
            </div>
        </div>

        <div class="card col-xs-12 col-md-6 col-lg-4" style="width: 18rem;">
            <div class="card-body">
                <h3>Sitios de Finanzas</h3>
                <ul>
                    <li>
                        <p>Ir a <a href="https://www.bolsadesantiago.com/">
                                Bolsa de Comercio de Santiago</a></p>
                    </li>
                    <li>
                        <p>Ir a <a href="https://es-us.finanzas.yahoo.com/">
                                Yahoo Finanzas</a></p>
                    </li>
                </ul>
            </div>
        </div>

        <div class="card col-xs-12 col-md-6 col-lg-4" style="width: 18rem;">
            <div class="card-body">
                <h3>Nuestros usuarios en la DB</h3>
                <ul>
                    {% for user in users %}
                    <ul>
                        <li>{{ user.username }} | {{ user.email }}</li>
                        
                    </ul>
                    {% endfor %}
                </ul>
            </div>
        </div>


        
    </div>




    <br>
    <aside>
    </aside>
    <br>
    <footer>
        2019-2020 python group awakelab
    </footer>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>