{% extends "app/base.html" %}

{% block body %}
<div class= "mt-1 ml-1">

<h1> ¡Hola, {{user}}!</h1>
<button title="Agregar tarea">Agregar tarea</button>
</div>

<div>
<h3>Tus tareas pendientes asignadas: </h3>
    {% for tarea in tareas %}
    <div class="border border-primary bg-light p-3">
        <p>
        Tarea n° {{ forloop.counter }}: {{ tarea.name }}</a> | <a href="{% url 'detalles_tarea' tarea.id %}" class="btn btn-primary">Ver tarea</a></p>
        <p>Responsable: {{ tarea.usuario }} | Prioridad: {{ tarea.prioridad }}</p>
        <p>Fecha de creación: {{ tarea.fecha_creacion }} | Fecha de expiración: {{ tarea.fecha_expiracion }}</p>
        <hr>
    </div>
    {% empty %}
    <p>Buen trabajo, no hay tareas asignadas pendientes</p>
    {% endfor %}
</div>

{% endblock %}