{% extends 'app/base.html' %}
{% block body %}
  <div class="d-flex justify-content-center align-items-center h-100">
    <div class="col-md-6">
      <h2 class="text-center">Agregar tarea nueva</h2>
      <form action="" method="POST" class="text-center">
        {% csrf_token %}
        <table class="mx-auto">
          {% for field in form %}
          <tr>
            <td>{{ field.label_tag }}</td>
            <td>{{ field }}</td>
            <td>{{ field.errors }}</td>
          </tr>
          {% endfor %}
        </table>
        <button type="submit" class="btn btn-primary mt-3">Guardar</button>
      </form>
    </div>
  </div>
  <script>
    $(function() {
      $("#id_due_date").datepicker();
    });
  </script>
{% endblock %}
