* {
  font-family:calibri;
  font-weight:lighter;
  color: rgb(85, 85, 85)
}
header, footer{
  text-align:center;
  width:100%
}
header>img {
width: 50vw;
max-width: 550px;
height: auto;
}

#pdf>a{
background-color: grey;
display:block;
}
input {font-size: 40px;}

header>h1,h2{
  text-align: center;
  background-color: rgb(241, 239, 239)
}
#noticias, footer{
  width: 100%;
  text-align: center;
}
footer{
  bottom:0;
  padding-bottom:2%;
    
}

ul {
  width:100%;
  text-align:center;
  padding:0;
   
}
li {
list-style-type: none;
}
li>a>img {
width: 100px;
height: auto;
}

img {
  background:grey;
  width:fit-content;
  
}
footer img{
width: 100px;
height: auto;
}
.contenedor-footer>div{
padding: 5px;
}
.formulario-item {
  padding: 5px;
  text-align: center;
  background-color:gainsboro;
  border: 3px;
  border-style: solid;
  border-color: whitesmoke;
  width: 100%;
  font-size: 1em;

}
#imagen-beneficios{
  width: 30vw;
  display: block;
  margin: auto;
  }



.benefocios-columna2-container{
  display: flex;
  flex-direction: column;
  background-color: bisque;
  justify-content: safe;
}
.beneficios-columna2{
width: 100%;  
}



/*
--sección responsive--
distribución default es horizontal*/

.container-branding-nav{
  position: relative;
}
.container-branding-nav img{
  position: absolute;
  width: 100px;
  height: 100px;
  border: 1px solid red;
}



.contenedor-footer, .contenedor-header, .contenedor-nav, .formulario{
  flex-direction: column; 
  justify-content:space-around;
  display: flex;
}
.logos img{
}

  @media (min-width: 768px) {
    .contenedor-footer, .contenedor-header,.contenedor-nav, .logos, footer{
      display: flex;
      flex-direction: column; 
      list-style:none;
      align-items:center;
      /*recordar que se alinea el contenedor, no el item en sí*/
      }
        .contenedor-footer, .contenedor-header,.contenedor-nav, .formulario, .logos{
          display: flex;
          flex-direction: row; 
          list-style:none;
          align-items:center; /*recordar que se alinea el contenedor, no el item en sí*/
          }
          nav>ul>li{
            text-align:center
       }
  .benefocios-columna2-container{
    flex-wrap: wrap;
  }
  .beneficios-columna2{
    flex: 1;
  }

  } /*LIMITE RESPONSIVO SOBRE 768PX*/
body{
 background-color: #e0D8B0; 
}