<!--video de referencia: https://www.youtube.com/watch?v=CTrVDi3tt8o
en lugar de app "members" tengo "miembros"
-->

{% extends 'index.html' %}

{% block content %}

<h2>Acceso usuarios</h2>

<h3>Acceso miembros PLUS GOLD</h3>
<form>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Email</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    <div id="emailHelp" class="form-text">Prometemos no compartir su información con nadie que no nos pague por ella</div>
  </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input type="password" class="form-control" id="exampleInputPassword1">
    </div>
    <div class="mb-3 form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1">
      <label class="form-check-label" for="exampleCheck1">Acepto todo lo leído y lo no leído también</label>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>


{% endblock  %}