
html,body { height:100%; }

    
    /*estilos de navegacion*/
    .navbar a {
        font-weight: bold;
      }
      .navbar-dark {
        background-color: rgb(80, 63, 95);
      }
      nav{
        margin-bottom: 20px;
        height: 5%;
      }
      
          /*colores de body y footer, fijar footer a base*/
      
      body{
        background-color: #062206;
      }
      
      .footerbar{
        border: 5px solid red;
        position: absolute;
      }
        

        

      /*aseguro que el contenedor de las tarjetas no se pase para encima del nav*/
      .cards-container{
        padding-top: 80px;
      }
      /*estilos para el texto en la tarjetas y nav*/
      .userParams .card-username{
        font-weight: bolder;
        margin-top: 5px;
        text-align: center;
      }
      .navbar{
        text-indent: 10vw;
      }
    

              /*parametros para ajustar posicion de tarjetas de info, bien concretas*/
      .card-body{
        border-radius: 25px;
        padding: 5px 5px 5px 5px;
        background:rgba(76, 84, 145, 0.804);
      }

      .c30p{
        width: 30%;
        border:5px gray solid;
        padding: 10px;
        border-radius: 15px;
      }
      .c70p{
        width: 70%;
        border:5px gray solid;
        padding: 10px;
        border-radius: 15px;
        height: 10%;
      }
      .cards-container{
      }
      body{
        background-color: #223 !important;
        padding-bottom:30px;
        margin-bottom:30px;
        }
      footer{
        height: 25%;
      }

      .inner:hover{
        color:blue;
      }


      /*perdón por la estética y no jugar mucho con las opciones de animación, estoy realmente contra el tiempo*/