*{border: 1px solid red;}

.nav-container{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 8%;
    display:flex;
}
.nav-item{
position: relative;
margin-top: 100%;
background-color: aliceblue;
}

@media only screen and (min-width:  700px) {
    
    .nav-container{
        top: 0;
        left: 0;
        height:auto;
        width: 100%;
        display: flex;
        flex-direction: row; 
        list-style:none;
        justify-content: space-between;
        background-color: bisque;
        }

        .nav-item{
        margin-top:0;
        padding: 10px;
        background-color: aqua;
        }
    }